<!-- I have to make a heading a button and a area for the fetched photo  -->
<!-- A div for the heading and the button  -->
<div
  class="flex flex-col bg-slate-100 justify-center max-w-2xl ml-auto mr-auto items-center rounded-md shadow-sm mt-5 shadow-black"
>
  <h1 class="flex text-2xl font-sans">
    Fetch Any Random photo using
    <p class="font-semibold ml-2">Unsplash</p>
  </h1>
  <button
    class="mt-2 mb-2 px-3 py-1 bg-black text-slate-300 rounded-md hover:bg-green-500 shadow-md"
    (click)="getPicture()"
  >
    Fetch Photo
  </button>
</div>

<!-- Another div for image rendering -->
<div
  class="flex overflow-hidden max-w-screen-sm mr-auto ml-auto shadow-gray-500 shadow-md rounded-md p-4 mt-5 bg-slate-50 items-center justify-center"
>
  <div *ngIf="isloading">
    <svg
      width="100px"
      height="100px"
      viewBox="0 0 100 100"
      preserveAspectRatio="xMidYMid"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      fill="#000000"
    >
      <circle
        cx="50"
        cy="50"
        r="40"
        stroke-width="8"
        stroke="#000000"
        stroke-dasharray="62.83185307179586 62.83185307179586"
        transform="rotate(359.939 50 50)"
      >
        <animateTransform
          attributeName="transform"
          type="rotate"
          repeatCount="indefinite"
          dur="1s"
          values="0 50 50;360 50 50"
          keyTimes="0;1"
        />
      </circle>
    </svg>
  </div>
  <img *ngIf="!isloading" [src]="imageProperty" class="h-40 w-40" />
</div>
